<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="inner">
    <h3 class="masthead-brand">McLean Carpenter</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>