<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I am a data scientist, full stack developer, husband, father, baseball nut, outdoor enthusiast.</p>
  </div>

  <div class="sidebar-module">
    <h4>Let's Connect!</h4>
    <ol class="list-unstyled social">
      <li><a href="https://github.com/mcarpent87"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/mcarpent87/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>