<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I am a Data Scientist and Full Stack Web Developer! I love working with data, I love creating cool things using my coding skills. This is filler.</p>
    </div>
    <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
        <li><a href="#">April 2020</a></li>
        <li><a href="#">March 2020</a></li>
        <li><a href="#">February 2020</a></li>
        <li><a href="#">January 2020</a></li>
        <li><a href="#">December 2019</a></li>
    </ol>
    </div>
    <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
        <li><a href="https://github.com/mcarpent87">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/mcarpent87/">Linkedin</a></li>
    </ol>
    </div>
</div>
