
          <div id="education">
            <div class="card card-block">
              <div class="row d-flex flex-wrap align-items-center style="height:100rem; margin-left: 5px;">
                <div class="col-md-3" align="center">
                  <%= image_tag 'about/UofU.png', width: '80%' %>
                </div>
                <div class="col-md-9">
                  University of Utah 2018-2019 <br>
                  Professional Education - Coding Bootcamp Full Stack Developer Certificate
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row d-flex flex-wrap align-items-center style="height:10rem; margin-left: 5px;">
                <div class="col-md-3" align="center" style="margin: 20px 0px 20px 0px">
                  <%= image_tag 'about/BYU_logo.png', width: '60%' %>
                </div>
                <div class="col-md-9">
                  Brigham Young Univeristy 2012-2014 <br>
                  MS in Geology
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row d-flex flex-wrap align-items-center style="height:10rem; margin-left: 5px;">
                <div class="col-md-3" align="center" style="margin: 20px 0px 20px 0px">
                  <%= image_tag 'about/BYU_logo.png', width: '60%' %>
                </div>
                <div class="col-md-9">
                  Brigham Young Univeristy 2009-2012 <br>
                  BS in Geology
                </div>
              </div>
            </div>
          </div>
