<div class="d-flex justify-content-center">
  <button
    class="btn btn-primary btn-lg"
    style="margin-right: 2rem;"
    type="button"
    data-toggle="collapse"
    data-target="#jobHistory"
    aria-expanded="false"
    aria-controler="jobHistory"
  >
    Job History
  </button>

  <button
    class="btn btn-primary btn-lg"
    style="margin-right: 2rem;"
    type="button"
    data-toggle="collapse"
    data-target="#education"
    aria-expanded="false"
    aria-controler="education"
  >
    Education
  </button>

  <button
    class="btn btn-primary btn-lg"
    style="margin-right: 2rem;"
    type="button"
    data-toggle="collapse"
    data-target="#technologies"
    aria-expanded="false"
    aria-controler="technologies"
  >
    Technologies
  </button>
</div>
