
          <div id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/sixfifty_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Full Stack Software Developer</strong> - Build Applications in React.js and Node.js. 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/paylitix_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Data Scientist/Software Engineer</strong> - Build/maintain REST API, import and clean raw data, build predictive models, database management, lead scrums and retrospectives, review/test of code going into production. 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/aecom-logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Geologist/GIS Analyst</strong> -  Compile and analyze large data sets using statistical methods to make conclusions about geological data.
                </div>
              </div>
            </div>
          </div>
