
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/UofU.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  University of Utah 2018-2019 <br>
                  Professional Education - Coding Bootcamp Full Stack Developer Certificate
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/BYU_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Brigham Young Univeristy 2012-2014 <br>
                  Graduated with a MS in Geology
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/BYU_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Brigham Young Univeristy 2009-2012 <br>
                  Graduated with a BS in Geology
                </div>
              </div>
            </div>
          </div>
