
          <div id="education">
            <div class="card card-block">
              <div class="row d-flex flex-wrap align-items-center style="height:100rem; margin-left: 5px;">
                <div class="col-md-3" align="center">
                  <%= image_tag 'about/UofU.png', width: '80%' %>
                </div>
                <div class="col-md-9">
                  <h5>University of Utah 2018-2019</h5>
                  <p>Professional Education - Coding Bootcamp Full Stack Developer Certificate<p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row d-flex flex-wrap align-items-center style="height:10rem; margin-left: 5px;">
                <div class="col-md-3" align="center" style="margin: 20px 0px 20px 0px">
                  <%= image_tag 'about/BYU_logo.png', width: '60%' %>
                </div>
                <div class="col-md-9">
                  <h5>Brigham Young Univeristy 2012-2014</h5>
                  <p>Master of Science in Geology</p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row d-flex flex-wrap align-items-center style="height:10rem; margin-left: 5px;">
                <div class="col-md-3" align="center" style="margin: 20px 0px 20px 0px">
                  <%= image_tag 'about/BYU_logo.png', width: '60%' %>
                </div>
                <div class="col-md-9">
                  <h5>Brigham Young Univeristy 2009-2012</h5>
                  <p>Bachelor of Science in Geology</p>
                </div>
              </div>
            </div>
          </div>
