
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/UofU.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  University of Utah Coding Bootcamp
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/BYU_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated From Brigham Young Univeristy with a MS in Geology
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/BYU_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated From Brigham Young Univeristy with a BS in Geology
                </div>
              </div>
            </div>
          </div>
