
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/paylitix_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Data Scientist</strong> - Work on API, postgres database management, work with dev team, review/test of code going into production. 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/aecom-logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Geologist/GIS Analyst</strong> Collect, manage, analyze data. Use statistical tools to come to conclusions to support technical reports. 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/vivint_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>GIS Technician</strong> Collect, manage, and analyze large datasets. 
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/BYU_logo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Graduate Research Assistant</strong> Collect, clean, and analyze firn core data, use matlab and python to run statistical analyses on data. 
                </div>
              </div>
            </div>
          </div>
