<div class="app-card-container">
  <div class="card" style="width: 80rem;">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "headshot.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8"">
        <h4 class="d-flex justify-content-center" style="padding-bottom: 2rem; padding-top: 1rem;">
          I am a Full Stack Software Engineer 
        </h4>

        <p style="padding-bottom: 2rem;">
        React Software Developer with two and a half years of development experience who excels working with others but can work independently to meet goals and deadlines. I really enjoy creating dynamic and beautiful applications with React and seeking ways to gain new skills as a developer. 
        Experienced with Javascript, React.js, Node.js, TypeScript , CSS, Ruby on Rails, and relational databases. Detail-oriented professional possessing excellent written and verbal communication skills, exemplary time management skills, and thrives in a team-oriented environment.
        </p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="true">Job History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="education-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="technologies-tab" data-toggle="tab" href="#technologies" role="tab" aria-controls="technologies" aria-selected="false">Technical Skills</a>
        </li>
        </ul>
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="work" role="tabpanel" aria-labelledby="work-tab"><%= render 'about_job_history' %></div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> <%= render 'about_education' %></div>
        <div class="tab-pane fade" id="technologies" role="tabpanel" aria-labelledby="technologies-tab"> <%= render 'about_technologies' %></div>
        </div>

      
      </div>
    </div>
  </div>
</div>
