<h1>About Me</h1>

<hr>

<div class="row">
   <div class="col-md-5">
      <%= image_tag "profile_pic/headshot.jpg", width: 300, alt: "profile image" %>
   </div>

   <div class="col-md-7">
      <p>I am a Data Scientist and Developer that is excited about working with data. I graduated from Brigham Young
      Univeristy in 2014 with my MS in Geology, where my thesis project focused on quantitative analysis. This is 
      where I began to learn how to code and aquired the foundation of my quantitative skills. </p>

      <p>I wanted to do something I loved and I began a six month coding bootcamp in 2018 where I learned full stack 
      Javascript development. I recieved my full stack developer certificate in February 2019. <p>

      <p>Today I am a data scientist at Paylitix, where I am in an exciting role where I get to use my fill skillset. In addition to
      working on building up the data science portion of Paylitix's app Pioneer mainly in Python, I also get to work on the development team where I 
      get to code in Ruby on Rails and Javascript. </p>

      <p>I am lucky to be able to live in Utah, where I can enjoy many outdoor activities year round. I love to spend time with my wife and two kids, 
      and my goldendoodle pup kirby. I love to garden, weather watch, fish, hike, watch sports, watch movies, and keep african cichlids. </p>
   </div>
</div>
