<div class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
        <p class="lead">I am a Data Scientist and Developer that works daily with languages such languages as Ruby on Rails, Python, and Javascript.</p>
        <p class="lead">
            <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
</div>

